.postInfoImg {
    width: 20px;
    margin-right: 5px;
}
.postInfo{
    display: flex;
    margin-right: 10px;
}
.postInfo:last-child {
    margin: 0;
}
.postInfoWrapper{
    display: flex;
    justify-content: space-between;
}
.postWrapper {
    text-align: left;
}
.date {

}
.interaction {
    display: flex;

}
.attachments {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
}
.link {
    color: deepskyblue;
    text-decoration: none;
    font-size: 20px;
}
